.post_container {
  display: flex;
  margin-bottom: 1.3vh;
  max-height: 10vh;
}

.postText {
  font-size: 2.5vh;
}

.like {
  font-size: 2vh;
  color: rgb(0, 0, 0, 0.5);
  background-color: green;
}
