.paginator {
  display: flex;
  justify-content: space-between;
  width: 50%;
  max-width: 200px;
}

.page__selected {
  font-weight: bold;
}

.page__number {
}

.previous__button {
}

.next__button {
}
