.paginator {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 0.2em;
}

.page__selected {
  font-weight: bold;
}

.page__number {
}

.previous__button {
}

.next__button {
}
