.selectedPage {
  font-weight: bold;
}

.paginator {
  position: relative;

  max-width: 60%;
  min-width: 30%;
  margin-left: 10%;
}

.pageNumber {
  margin-left: 1%;
  margin-right: 1%;
}

.prev {
}

.next {
}
