.formControl.error input,
.formControl.error textarea {
  border: 0.3vh solid rgba(204, 14, 0, 1);
}

.formSummaryError {
  border: 0.3vh solid rgba(204, 14, 0, 1);
  padding: 5px;
  color: rgba(204, 14, 0, 1);
}
