.form__control.error input,
.form__control.error textarea {
  border: 0.3vh solid rgba(204, 14, 0, 1);
}

.form__summary_error {
  border: 0.3vh solid rgba(204, 14, 0, 1);
  padding: 5px;
  color: rgba(204, 14, 0, 1);
}
