.user {
  display: flex;
  flex-direction: column;
  max-width: 10vw;
  max-height: auto;
  justify-content: center;
  margin-bottom: 4vh;
}

.imageContainer {
  width: 6vw;
  height: auto;
  align-self: center;
  margin-bottom: 0.8vh;
}

.userPhoto {
  max-width: 100%;
  border-radius: 50%;
  border: 0.3vh solid #def2f1;
}

.userInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
}

.userInfo div {
  margin-bottom: 0.3em;
  align-self: center;
}

.name {
  font-size: 1vw;
}

.status {
  font-size: 0.8vw;
}

.buttonSubscribe {
  align-self: center;
}
