.userPhoto {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 2px solid #def2f1;
}

.userContainer {
}

.buttonFollow {
  padding-left: 1rem;
}

.userInfo {
  padding-bottom: 1rem;

  margin-left: 20px;
}
