.user__container {
  display: flex;
  flex-direction: column;
  max-width: 15%;
  min-width: 150px;
  margin: 0.5%;
}

.image__container {
  /* width: 6vw;
  height: auto; */
  width: 70%;
  height: auto;
  align-self: center;
  margin-top: 3%;
}

.user__photo {
  width: 100%;
  border-radius: 50%;
  border: 0.3vh solid #def2f1;
}

.user__details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 auto;
  padding: 1%;
}

.name__wrapper {
  text-align: center;
}

.name {
  font-size: 0.4em;
  width: 100%;
  word-wrap: break-word;
}

.status__wrapper {
  text-align: center;
}
.status {
  font-size: 1em;
  word-wrap: break-word;
}

.button__wrapper {
  align-self: center;
}
