.header {
  background-color: #2b7a78;
  background-size: 100%;
}

.authorization__block {
  margin-right: 2vw;
  margin-left: auto;
  align-self: center;
}

.authorization__block a {
  color: #000;
}

.auth__button {
  max-width: 4vw;
  max-height: 6vh;
}

.login__block {
  display: flex;
}

.login__text {
  font-size: 2vh;
  align-self: center;
  margin-right: 1vw;
}
