.menu {
  display: flex;
  flex-direction: column;
  background-color: #17252a;
  min-height: 88vh;
  max-height: 100%;
  width: 16vw;
}

.item:last-child {
  margin-top: 8vh;
}

.link {
  display: block;
  text-decoration: none;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  color: #2b7a78;
  font-size: 3vmin;
  padding-left: 5vw;
}

.link:hover {
  color: #def2f1;
}

.item a.active {
  color: #def2f1;
}
