.menu {
  background-color: rgb(0, 0, 0);
  height: 100vh;
  max-width: 15.5em;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
}

.item:first-child {
}

.item:last-child {
  margin-top: 4.5em;
  font-size: 1em;
}

.link {
  display: block;
  text-decoration: none;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  color: rgb(255, 136, 0);
  font-size: 1.2em;
  padding-left: 3em;
}

.link:hover {
  color: rgba(255, 136, 0, 0.7);
}

.item a.active {
  background-color: rgba(255, 136, 0, 0.2);
}
