.menu {
  display: flex;
  flex-direction: column;
  background-color: #0e4f4d;
  min-width: 200px;
  height: 100%;
}

.link {
  display: block;
  text-decoration: none;
  padding-top: 0.7em;
  padding-bottom: 0.7em;
  color: #52aaa6;
  font-size: 1em;
  padding-left: 2vw;
}

.link:hover {
  color: #def2f1;
}

.item a.active {
  color: #def2f1;
}
