.descriptionBlock {
  display: flex;
}

.name {
  font-size: 4vh;
}

.photoBlock {
  display: flex;
  position: relative;
  flex-direction: column;
}
.selectImage {
  max-height: 2%;
  width: 2%;
  height: 2vh;
}

.mainPhoto {
  max-width: 100%;
  width: 21vh;
  height: auto;
  border-radius: 50%;
  background-color: #fff;
  border: 0.4vh solid #def2f1;
}

.statusAndName {
  margin-left: 3vw;
}
.statusAndName h3 {
  font-size: 2.5vh;
}
