.login__wrapper {
  min-height: 88vh;
  margin-left: 1%;
}

.login__form {
}

.email__text_field {
  margin-bottom: 1%;
}

.password__text_field {
}

.checkbox {
}

.button__wrapper {
  margin-top: 1%;
}

.button {
  padding: 1vh;
  border: 1px solid #2b7a78;
  border-radius: 5px;
}

.form__summary_error {
  border: 0.3vh solid rgba(204, 14, 0, 1);
  padding: 5px;
  color: rgba(204, 14, 0, 1);
}
