.posts__container {
  width: 100%;
  font-size: 1em;
}

.posts__container h3 {
  font-size: 2em;
}

.posts__wrapper {
  padding-left: 1em;
  padding-bottom: 1em;
}

.posts {
  margin-top: 3vh;
}

.form_post__container {
  padding: 0 0 0.5em 1em;
  margin-top: 1em;
  margin-right: 1%;
}

.form_post {
  display: flex;
  flex-direction: column;
}

.add__post_field {
  resize: none;
  min-height: 4em;
  min-width: 20em;
  font-size: 1em;
  margin-bottom: 0.4em;
}
