.posts__block {
  width: 100%;
  font-size: 16px;
  font-size: 1.6vw;
}

.posts__block h3 {
  font-size: 4vh;
}

.posts {
  margin-top: 3vh;
}

.form__post {
}

.add__post_field {
  resize: none;
  min-height: 15vh;
  min-width: 20vw;
  font-size: 2vh;
  margin-bottom: 1vh;
}
