/* */
.dialogs__container {
  font-size: 1em;
  background-color: #abe1d59a;
  min-height: 100vh;
}
/* */
.dialogs__items {
  height: 100vh;
  /* height: 100%; */
  background-color: #e2ebe99a;
  border-right: 0.2vh solid #2b7a78;
}

/* */
.dialog__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e2ebe99a;
  padding: 5% 0;
}
/* */
.link {
  text-decoration: none;
  color: #000;
}

.messages__container {
  padding: 0.6em;
}
.message__item {
  margin-bottom: auto;
}

.message {
  font-size: 1.5em;
}

.message__send_field {
  margin-bottom: 1%;
}
.form__message {
  display: flex;
  align-items: center;
}

.add__message_field {
  resize: none;
  min-height: 4em;
  min-width: 25em;
  font-size: 2vh;
  margin: 1em;
  border-radius: 0.5em;
}
.add__message_button {
}
