.dialogs {
  display: flex;
}

.dialogs__items {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: rgba(211, 202, 187, 0.5);
  border-right: 1px solid rgba(211, 202, 187, 0.5);
}

.dialog {
  padding: 20px 15px;
}

.dialog a {
  text-decoration: none;
  color: rgb(253, 148, 28);
  font-size: 1em;
  padding-left: 2em;
}

.active {
  background-color: rgba(255, 164, 28, 0.103);
}

.messages {
}

.message {
}
